<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--string de conexión a la BD-->

  <connectionStrings>
    <add   connectionString="Data Source=CADATIC-91873\SQL2022; Initial Catalog=Matricula; Persist Security Info=True; Trusted_Connection=True;" name="DBConnection" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>